.budget {
	position: absolute;
	width: 100vw;
	height: 90%;
	background: url("https://images.unsplash.com/photo-1638913970961-1946e5ee65c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
	background-size: cover;
	transform: translateX(-100%);
	animation: animate-budget 0.3s ease-in-out forwards;
	border: 5px solid rgb(92, 6, 133);
}

.budget-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.budget-buttons,
.budget-tracker {
	flex-basis: 50%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.budget-buttons {
	justify-content: space-evenly;
}

.tracker {
	height: 48vh;
	width: 5rem;
	background-color: #e2ecf8;
	border: 2.5px solid #5283ac;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	position: relative;
	overflow: hidden;
}

.tracker-inside {
	width: 100%;
	background-color: #5283ac;
	position: absolute;
	bottom: 0;
	transition: 0.5s height ease;
}

@keyframes animate-budget {
	to {
		transform: translateX(0);
	}
}

.budget-header {
	text-align: center;
	font-size: 2.4rem;
	font-weight: bold;
	color: #e2ecf8;
	text-shadow: 2px 2px 5px #5283ac;
	margin-top: 2rem;
}
