.budget {
	position: absolute;
	width: 100vw;
	height: 90%;
	background-color: rgba(255, 255, 255, 0.15);
	transform: translateX(-100%);
	animation: animate-budget 0.3s ease-in-out forwards;
	border: 5px solid lightgreen;
}

.budget h2 {
	text-align: center;
	color: lightcoral;
	padding: 1rem;
}

.budget-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.budget-buttons,
.budget-tracker {
	flex-basis: 50%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.tracker {
	height: 48vh;
	width: 5rem;
	background-color: white;
	border: 2.5px solid lightcoral;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	position: relative;
	overflow: hidden;
}

.tracker-inside {
	width: 100%;
	background-color: lightcoral;
	position: absolute;
	bottom: 0;
	transition: 0.5s height ease;
}

@keyframes animate-budget {
	to {
		transform: translateX(0);
	}
}

.budget-footer {
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	color: lightgreen;
}

.modal-container {
	position: relative;
	transform: translateY(-100%);
	width: 100vw;
	height: 80vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 50;
	left: -5px;
}

.modal-container h4 {
	font-size: 2rem;
	color: lightcoral;
	font-weight: bold;
}

.button-container {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
	width: 80%;
	justify-content: center;
	align-items: center;
}

.modal-container button {
	width: 40px;
	height: 40px;
	border: 2px solid lightgreen;
	color: lightgreen;
	background-color: rgb(23, 23, 31);
}

.current-expense {
	font-size: 1.6rem;
	font-weight: bold;
}
