.sound-game {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	transform: translateX(100%);
	animation: sound-game 0.5s ease forwards;
}

.back-button {
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: 0.5rem 0.3rem;
	border: 2.5px solid #5283ac;
	color: #5283ac;
	font-weight: bold;
	z-index: 10;
	transform: translateX(-200%);
	animation: back-button 0.3s ease-out forwards;
}

@keyframes sound-game {
	to {
		transform: translateX(0);
	}
}

@keyframes back-button {
	to {
		transform: translateX(0);
	}
}
