.disclaimer{
    text-align: center;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 3rem;
}

.button{
    width: 100%;
    height: 4rem;
    color: white;
    background-color:rgb(13, 14, 25);
    border: 2px solid white;
}