.insult-generator__container{
    height: 90vh;
    width: 100%;
    padding: 4rem 0rem 9rem 0rem;
    background-color: rgba(26, 49, 49, 0.2);
	backdrop-filter: blur(50px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.insult-generator__container span{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.insult-generator__container button{
    background-color: rgb(92, 6, 133);
    color: white;
    padding: 1.3rem 1rem;
    box-shadow: 0px 5px 50px 2px black;
}