.list-pal {
	text-align: center;
	padding: 2rem;
	color: white;
	height: 90vh;
	border: 5px solid lightgreen;
}

.list-pal h3 {
	padding: 0.8rem;
}

.add-list-contaner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-list-container input {
	padding: 10px;
	width: 8rem;
	margin-left: 10px;
	border: 1px solid lightgreen;
}

.add-list-container input::placeholder {
	color: lightcoral;
	font-weight: bold;
}
