.container {
	border: 1px solid lightcoral;
}

.heading {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.list-container {
	background-color: lightcoral;
	color: lightgreen;
}

.list-container ul {
	list-style: none;
}

.list-container li {
	padding: 0.2rem;
}

.add-list-item-button {
	font-size: 1.25rem;
	padding: 0.4rem;
}

.list-item-input {
	padding: 0.4rem;
	transform: translateY(-5px);
	margin-left: 10px;
}
