.games-container {
	height: 90vh;
	position: relative;
	width: 100%;
	transform: translateX(-100%);
	animation: games 0.5s ease-in-out forwards;
}

@keyframes games {
	to {
		transform: translateX(0);
	}
}
