.contact{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to bottom, rgb(33, 64, 64), rgb(23, 40, 40));
    color: white;
    font-size: 1.2rem;
    text-align: center;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    animation: about 0.5s forwards ease;
}

@keyframes about {
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.contact h2{
    font-size: 50px;
}

.contact p{
    line-height: 30px;
    letter-spacing: 3px;
}
.send{
    padding: 1rem 1rem;
    font-weight: 800;
    font-size: 20px;
    border: 1px solid white;
    background-color: rgb(23, 40, 40);
    color: white;
    border-radius: 5px;
}

.little-input{
    border: none;
    height: 50px;
    width: 80%;
    padding: 0.4rem;
    font-size: 1.25rem;
}

.social{
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.contact img{
    height: 2rem;
    width: 2rem;
}

.close{
    position: absolute;
    z-index: 550;
    top:2rem;
    right: 2rem;
    border: 1px solid white;
    background-color: rgb(23, 40, 40);
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}