.contact{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to bottom, rgb(33, 64, 64), rgb(23, 40, 40));
    color: white;
    font-size: 1.2rem;
    text-align: center;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    animation: about 0.5s forwards ease;
}

@keyframes about {
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.contact h2{
    font-size: 50px;
}

.contact p{
    line-height: 30px;
    letter-spacing: 3px;
}
.send, .invalid{
    padding: 1rem 1rem;
    font-weight: 800;
    font-size: 20px;
    border: 1px solid white;
    background: linear-gradient( -135deg, rgb(23, 40, 40) 74%, rgba(255, 255, 255, 0.3) 80%, white 82%, rgba(255, 255, 255, 0.3) 84%, rgb(23, 40, 40) 90%);
    background-size: 1300%;
	background-position:top left;
	animation: bg-flash 4s linear alternate infinite;
    color: white;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
}

.invalid{
    border: 1px solid red;
    background: none;
    animation: none;
}

@keyframes bg-flash{
	to{
		background-position: bottom right;
	}
}

.little-input{
    border: none;
    height: 50px;
    width: 80%;
    padding: 0.4rem;
    font-size: 1.25rem;
}

.social{
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.contact img{
    height: 2rem;
    width: 2rem;
}

.close{
    position: absolute;
    z-index: 550;
    top:2rem;
    right: 2rem;
    border: 1px solid white;
    background-color: rgb(23, 40, 40);
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.email-warning{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-150%) translateX(0);
    opacity: 0;
    animation: email-warning 2s ease forwards;
    color: red;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px black;
    width: 80%;
    font-weight: 200;
}

@keyframes email-warning{
    to{
        opacity: 1;
        left:50%;
        top:50%;
        transform: translateY(-150%) translateX(-50%);
    }
}