.home-page {
	height: 100%;
	width: 100%;
	animation: home-page 0.5s ease-in-out forwards;
	background-color: rgb(26, 49, 49);
	overflow: hidden;
}

.container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}


@keyframes home-page {
	from {
		opacity: 0;
		transform: scale(0.85);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.container-1{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
