.event-pal {
	text-align: center;
	color: lightcoral;
	border: 5px solid lightgreen;
	height: 90vh;
}

.event-pal ul {
	list-style: none;
}

.event-tabs {
	height: 90vh;
	border: 1px solid cyan;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.development {
	padding: 2rem;
	text-align: center;
	color: lightcoral;
	font-size: 3rem;
}
