.nav-bar {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #e2ecf8;
	padding: 10px 15px;
	height: 10vh;
	background-color: rgb(13, 14, 25);
	border-bottom: none;
}

@keyframes border{
	to{
		background-position: bottom right;
	}
}

.nav-bar h1 {
	font-size: 2rem;
	text-shadow: 1px 1px 1px  rgb(26, 49, 49);
}

.hamburger-container {
	position: relative;
	width: 20px;
	height: 19px;
	z-index: 100;
}

.hamburger-container::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #e2ecf8;
	top: 0;
	left: 0;
}

.hamburger {
	position: absolute;
	left: 0;
	top: 50%;
	width: 20px;
	height: 3px;
	background-color: #e2ecf8;
	transform: translatey(-50%);
}

.hamburger-container--x .hamburger {
	visibility: hidden;
}

.hamburger-container::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #e2ecf8;
	bottom: 0;
	left: 0;
}

.hamburger-container--x {
	position: relative;
	width: 20px;
	height: 19px;
	z-index: 100;
}
.hamburger-container--x::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #e2ecf8;
	top: 0;
	left: 0;
	transform-origin: 50% 0;
	transform: rotate(45deg) translateY(4px) scaleX(1.3) translateX(5px);
}

.hamburger-container--x::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #e2ecf8;
	bottom: 0;
	left: 0;
	transform-origin: 50% 0;
	transform: rotate(-45deg) translateY(-6px) scaleX(1.3) translateX(5px);
}
