.sidebar{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar button{
    color: black;
    border: 2px solid black;
    font-weight: bold;
    background-color: white;
    padding: 1.4rem 1.25rem;
    letter-spacing: 0.2rem;
    width: 30%;
    height: 50%;
    font-size: 1rem;
}