.btn {
	padding: 1.15rem;
	color: #e2ecf8;
	background-color: rgb(92, 6, 133);
	border-radius: 5px;
	border: 1px solid rgb(92, 6, 133);
	width: 36vw;
	font-size: 1.1rem;
}

.btn:active {
	color: white;
	border: 1px solid white;
}
