.btn {
	padding: 0.25rem 0.25rem;
	color: rgb(226, 236, 248);
	background-color: rgba(226, 236, 248, 0.25);
	border-radius: 5px;
	border: 2px solid rgb(226, 236, 248);
	width: 4.5rem;
	font-size: 1rem;
	text-align: center;
}

.btn:active {
	color: white;
	border: 1px solid white;
}

.button-image {
	font-size: 2rem;
}
